{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} - {{ SITE }}</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body>
<div class="main-container">
    <a href="/login/">login</a><br />
    欢迎 name:{{ username }},id:{{ userid }},login:{{ is_login }},<br />
    <a href="/logout/">logout</a><br />